header{
    width: 100%;    
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

i{
    color: $secondery-normal;
}

.header-icons{
    display: flex;
    gap: 20px;
    margin: 30px;    
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $blue-normal;    
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1);
    }
}

.header-list{
    display: flex;
    gap: 30px;
    list-style-type: none;    
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}

.header-list{
    a{
        font-family: 'Sora', sans-serif;
        color: $white-normal;
        font-size: 30px;
    }    
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

}

.header-logo {
    img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 760px){
    .header-content{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .header-logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .header-list{
        display: none;
    }

    .header-icons {
        i{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;            
        }        
    }


}